:root {
    --color-primary: #E8E2D6;
    --color-secundary: #005A26;
    --color-letter: #471A2B;
}


* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);   
}

/*********
  PROFILE
**********/
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: var(--color-letter);
}

.profile img {
    width: 8em;
    margin-bottom: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 15px var(--color-letter);
    border-radius: 50%;
}

.profile h1, .profile h3, .profile h4 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 3px;
}

/*******
  LINKS
********/
.links {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.links h3 {
    color: var(--color-letter);
}

.links .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 40px;
    margin: 10px 0;
    border: 2px solid var(--color-secundary);
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    color: var(--color-letter);
    transition: background-color .2s linear, font-size .2s;
}

.links .link:hover, .links .link:active {
    background-color: #005A26;
    font-size: 17px;
}

.links .link span {
    margin-left: 2px;
}

/*****************
  WIDTH DOS LINKS
******************/
@media  (min-width: 600px) and (max-width: 740px) {
    .links .link{
        width: 70%;
    }
}

@media (min-width: 741px) and (max-width: 1440px) {
    .links .link {
        width: 521px;
    }
}

@media (min-width: 1441px) and (max-width: 2000px) {
    .links .link {
        width: 540px;
    }
}

@media (min-width: 2001px) and (max-width: 2560px) {
    .links .link {
        width: 540px;
    }
}

/*********************
  TELAS MENORES-WIDTH
**********************/
@media (min-width: 200px) and (max-width: 210px) {
    html {
        width: 100vw;
        height: 100vh;
    }

    .container {
        width: 100vw;
        height: 100vh;
    }

    .profile, .links {
        width: 90%;
    }

    .profile h1 {
        font-size: 0.9em;
    }

    .profile h3 {
        font-size: 0.8em;
    }

    .profile h4 {
        font-size: 0.65em;
    }

    .links h3 {
        font-size: 1em;
    }
}

@media (min-width: 211px) and (max-width: 236px) {
    html {
        width: 100vw;
        height: 100vh;
    }

    .container {
        width: 100vw;
        height: 100vh;
    }

    .profile, .links {
        width: 90%;
    }

    .profile h1 {
        font-size: 1em;
    }

    .profile h3 {
        font-size: 0.8em;
    }

    .profile h4 {
        font-size: 0.7em;
    }

    .links h3 {
        font-size: 1.1em;
    }
}

@media (min-width: 237px) and (max-width: 259px) {
    html {
        width: 100vw;
        height: 100vh;
    }

    .container {
        width: 100vw;
        height: 100vh;
    }

    .profile, .links {
        width: 90%;
    }

    .profile h1 {
        font-size: 18px;
    }

    .profile h3 {
        font-size: 15px;
    }

    .profile h4 {
        font-size: 12px;
    }
}

@media (min-width: 260px) and (max-width: 299px) {
    html {
        width: 100vw;
        height: 100vh;
    }

    .profile h1 {
        font-size: 20px;
    }

    .profile h3 {
        font-size: 15px;
    }

    .profile h4 {
        font-size: 13px;
    }
}

@media (min-width: 300px) and (max-width: 700px) {
    html {
        width: 100vw;
        height: 100vh;
    }

    .profile h1 {
        font-size: 24px;
    }

    .profile h3 {
        font-size: 18px;
    }

    .profile h4 {
        font-size: 13px;
    }
}


