:root {
    --color-primary: #E8E2D6;
    --color-secundary: #005A26;
    --color-letter: #471A2B;
}


* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);   
}

/*********
  PROFILE
**********/
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: var(--color-letter);
}

.profile img {
    width: 8em;
    margin-bottom: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 15px var(--color-letter);
    border-radius: 50%;
}

.profile h1, .profile h3, .profile h4 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 3px;
}

/*******
  LINKS
********/
.links {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.links h3 {
    color: var(--color-letter);
}

.links .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 40px;
    margin: 10px 0;
    border: 2px solid var(--color-secundary);
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    color: var(--color-letter);
    transition: background-color .2s linear, font-size .2s;
}

.links .link:hover, .links .link:active {
    background-color: #005A26;
    font-size: 17px;
}

.links .link span {
    margin-left: 2px;
}

/********
  FOOTER
*********/

.footer {
    position: absolute;
    bottom: 0px;
    width: 400px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}